body,html{
margin: 0 auto;
   
}
body{
    -webkit-font-smoothing: antialiased;
    width: 1440px;
   
}
.width{
    margin-right: 10%;
    margin-left: 10%;
   
}
.random{
    margin-top: 1500px;
}





.logo{

    position: fixed;
    height: 5%;
    top: 10px;
    left: 10px;
    z-index: 10;
}
.container{ 
    display: block ;
    margin-left: -232px;
    margin-top: -91px;
    background: rgba(0, 0, 0, 0.849);
    height: 66vh;
    width: 100vw;
   
   
}
.picture{
   
    height: 100%;
    background: url('/foto/typci.jpg') no-repeat;
    background-size: cover;
    margin-left: 835px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:  10px;
}
.adlerka{
    
    height: 100%;
    width: 44%;
    background: url('/foto/skola.jpg') no-repeat;
    margin-top: -640px;
    opacity: .1;
    
}








.tab{
    display: inline-block;
    
   
    margin-left: 1228px;
    height: 85px;
    width: 450px;
    border: solid #000 1px;
    background-color: #000;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
}
.upperheader{
    margin-left: -10px;
   
}
li{
    display: inline-block;
    padding: 12px;
    margin-top: 5px;
    font-size: 15px;
    color: #fff;
    list-style: none;
    border-left: solid #fff;
 
}
li:first-of-type{
    border-left: #000;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: red;
}





q{
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin-top: -350px;
    font-size: 45px;
    margin-left: -192px;
}
blockquote{
    margin-left: -163px;
    font-size: 25px;
    color: #FFB8C6;
    font-style: italic ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 350px;
}





.containter2{
    background-color: #fff;
    height: 30vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    background-position: center;
    overflow: hidden;
    float: left;
    padding: 15px;
}

.picture2{
    height: 350px;
    width: 500px;
    background: url('/foto/class.jpg') no-repeat;
    background-size: 100%;
    margin-top: -29px;
    background-position: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.picture2:hover{
    background-size: 150%;
    background-position: center;
}

.head{
   
}