html, body{
    margin: 0 auto;
     
}

body{
    width: 1200px;
}

header.header{
    
    display: block;
    border: solid grey;
    height: 52px;
    margin-top: 10px;
    border-radius: 15px;
    
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: lightblue;
    -webkit-border-radius: 15px;
    z-index: 10;
}
/*div.upper-header{
    display: block;
     position: absolute;
    border: solid rgba(119,136,153,0.3);
    height: 52px;
    width: 1200px;
    margin-top: -8px;
    border-radius: 15px;
   
    
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: lightblue;
    -webkit-border-radius: 15px;
    z-index: 2;
    background-color: rgba(119,136,153,0.3);
}*/

p.adlerka{
    float: left;
    margin-right: 350px;
    margin-left: 15px;
    text-transform: uppercase;
    
}


.links a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    margin-left: 5px;
    
}
.links li{
    margin-top: -7px;
    list-style: none;
    float: left;
    border: solid gray;
    margin-right: 10px;
    
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;

    width: 110px;
    padding: 5px 10px;
    background-color: #ECF9F7;
}

.links li:hover{
    background-color: lightsalmon;
   ;
}
.links a:hover{
     color: #fff
}
